header{
    position: sticky;
    top:0px;  
    z-index:5000;  
}
nav{
    background-color:white;
}
.nav-btn{
    background-color: orangered !important;
    color:white !important;
    border-radius:10px !important;
}
.nav-links>a{
    text-decoration: none;
    padding-inline: 10px;
    color:#212244;
}
.search-bar{
    background-color:#ffffff;
    border:2px solid #f2f2f2;
    width: 200px;
    border-radius:8px;  
}
.search-bar>input{
    border:none;
    font-size: 13px;
    width:80%;   
}
.hero-section{
    height:95vh;
    background-color: lavender;
}

#door{
    color:orangered;
}
.hero-para{
    
    color:#69697B;
}
.hero-img{
    width:60% !important;
}
.hero-img img{
    width:100%;
}
.hero-btn{
    background-color: orangered !important;
    color:white !important;    
    border-radius: 10px !important;
}
.why-best{
    width:80%;
    margin: auto;
    
}
.best-para{
    color:#69697B;
    font-size: 13px;;
}
.best-text{
    width:250px !important;
}
.why-best>img{
    display: inline-block;
    width:320px !important;
    
}
.special-recipes{
    width:80% !important;
    box-sizing: border-box !important;
    height:45vw !important;
    margin: auto !important;
}
.special-recipes a{
    text-decoration: none;
    font-weight: 600; 
    padding-inline: 14px !important;
    color:#69697B
}
#fast-food{
    color: orangered;
    padding:10px;
    border-bottom: 2px solid orangered;
}
.special-menu{
    margin-top: 100px !important;

    
}
.menu-item{
    box-sizing: border-box;
    width:250px;
    border:2px solid #f2f2f2;
    border-radius: 15px;
    margin: auto !important;
    
    
}
.menu-item>p{
    color:#69697B !important;
}
.menu-item span{
    color:orangered !important;
    font-weight: 700;
}

.menu-btn{
    border:2px solid orangered !important;
    color:orangered !important;
    border-radius: 10px !important;
    margin-bottom: 25px;
}
.noodles{
    border: none !important;
    color:white !important;
    background-color: orangered !important;
    border-radius: 10px !important;
    margin-bottom: 15px;
}
.download-app{
    width:80vw;

    height: 800px;
    margin:auto;
}
.download-img{
    width:100%;
    
}
.download-img img{
    display: inline-block;
    width:100%;
    margin-top: 150px;
}
.customer-reviews{
    
    background-color: #f8f8f8;
    width:95vw;
    padding: 50px;
    margin: auto;
}
.customers{
    width:90%;
}
.cust-img{
    flex:1;
    box-sizing: border-box !important;
}
.cust-quotes{
    flex:2;
}
.cust-img img{
    width: 80%;
    
}
#saying {
    color:orangered;
}
.footer{
    width:98vw;
    margin: auto;
        
    background-color: lavender;
}
.col-1{
    margin:50px;
    flex:2 !important;
    
    
}
.col-2{
    flex: 3 !important; 
    margin: 50px;;
}
table{
    width: 100% ;
    line-height: 40px;
}
















@media screen and (max-width:620px){
    header{
        position: static !important;
    }
    nav{

        display: flex !important;
        margin-top: 10px !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .nav-search-bar{
        display:flex !important;
        flex-direction: column !important;
        margin-bottom: 20px;
    }
    .nav-links{
        display: flex;
        flex-wrap: wrap !important;
    }
    .hero-section{
        display: flex !important;
        padding-inline: 30px !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
    }
    .hero-section>img{
        display: block !important;

    }
    .why-best{
        display: flex !important;
        flex-direction: column !important;
    }
    #fast-food{
        border: none;
    }
    
    .my-table{
        display: flex !important;
        flex-direction: column !important;
        justify-content: left !important;
        align-items: left !important;
    }
    .col-1{
        display: flex !important;
        flex-direction: column;
    }
    .col-2{
        display: flex;
        justify-content:left !important;
        align-items: center;
    }
    .special-recipes{
        z-index: 100 !important;
    }
    .special-menu{
        z-index: 50 !important;
    }
    .customers{
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
    .cust-img img{
        width: 50%;
        
    }

    
}